.account-content-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 15px 8px;
    margin-top: 20px;
}

.card-ship-list {
    min-width: 228px;
}

.card-super-cap-list {
    min-width: 270px;
}

.container-main-blue-print {
    max-width: 1850px;
}

.account-selection-card {
    width: 99%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.account-title-card {
    width: 99%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.account-toggle-button {
    min-width: 70px;
}

.subheader-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.subheader-icon {
    margin-bottom: -7px;
}