.account-content-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 15px 8px;
    margin-top: 20px;
}

.card-ship-list {
    min-width: 228px;
}

.card-super-cap-list {
    min-width: 270px;
}

.container-main-blue-print {
    max-width: 1850px;
}