.fleet-planner-ship-type-container{
    width: 99%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.fleet-planner-ship-type-selector{
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    gap: 5px 5px;
}